.food-finder__wrapper {
  background-color: #f1c40f;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh; /* 새로운 element가 들어오면 height범위가 늘어나도록 */
}

.food-finder__container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.food-finder__container h1 {
  margin-top: 0;
  padding-top: 20px;
}

/* media query는 각 Component의 해당된 CSS에서만 작동한다 */
@media (max-width: 800px) {
  .food-finder__wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .food-finder__wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .food-finder__wrapper {
    padding-bottom: 50px;
  }
}
