@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

:root {
  --form-validator-success-color: #2ecc71;
  --form-validator-error-color: #e74c3c;
  --form-validator-outline-color: #5ea9fe;
  --form-validator-submitBtn-color: #3498db;
}

.form-validator__wrapper input,
.form-validator__wrapper button,
.form-validator__wrapper ::placeholder {
  font-family: 'Noto Sans KR';
}

.form-validator__wrapper {
  background-color: #f9fafb;
  font-family: 'Noto Sans KR';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.form-validator__container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
}

.form-validator__form {
  padding: 30px 40px;
}

.form-validator__container form h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form-validator__form-control {
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;
}

.form-validator__form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.form-validator__form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  border: 2px solid #f0f0f0;
}

.form-validator__form-control input:focus {
  outline: 0;
  border-color: var(--form-validator-outline-color);
}

.form-validator__form-control.success input {
  border-color: var(--form-validator-success-color);
}

.form-validator__form-control.error input {
  border-color: var(--form-validator-error-color);
}

.form-validator__form-control small {
  color: var(--form-validator-error-color);
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}

.form-validator__form-control.error small {
  visibility: visible;
}

.form-validator__form button {
  cursor: pointer;
  background-color: var(--form-validator-submitBtn-color);
  border: 2px solid var(--form-validator-submitBtn-color);
  border-radius: 4px;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 20px;
}

.form-validator__form button:active {
  transform: scale(0.98);
}
