@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

:root {
  --custom-video-player-bg-color: #666;
  --custom-video-player-bg-screen-color: #000;
  --custom-video-player-bg-ctl-color: #333;
  --custom-video-player-play-btn-color: #28a745;
  --custom-video-player-stop-btn-color: #dc3545;
  --custom-video-player-pause-btn-color: #fff;
}

.custom-video-player__wrapper {
  background-color: var(--custom-video-player-bg-color);
  color: #fff;
  font-family: 'Questrial', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-video-player__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.custom-video-player__container h1 {
  margin-bottom: 20px;
}

.custom-video-player__screen {
  width: 60%;
  background-color: var(--custom-video-player-bg-screen-color) !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.custom-video-player__container:hover {
  & .custom-video-player__volume {
    opacity: 1;
  }
}

.custom-video-player__controls {
  width: 60%;
  background-color: var(--custom-video-player-bg-ctl-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.custom-video-player__volume {
  position: absolute;
  left: -20px;
  bottom: 105px;
  transform: rotate(-90deg);
  width: 100px !important;
  opacity: 0;
  transition: 0.5s linear;
}

.custom-video-player__controls button {
  background: transparent;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

.custom-video-player__controls button:focus {
  outline: 0;
}

.custom-video-player__play .fa-play {
  color: var(--custom-video-player-play-btn-color);
}

.custom-video-player__play .fa-pause {
  color: var(--custom-video-player-pause-btn-color);
}

.custom-video-player__stop .fa-stop {
  color: var(--custom-video-player-stop-btn-color);
}

.custom-video-player__expand {
  margin-left: 10px;
  cursor: pointer;
}

.custom-video-player__timestamp {
  font-weight: bold;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .custom-video-player__screen,
  .custom-video-player__controls {
    width: 90%;
  }
}
