@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --outline-color: #5ea9fe;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Noto Sans KR';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

input,
button,
::placeholder {
  font-family: 'Noto Sans KR';
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
}

.form {
  padding: 30px 40px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  border: 2px solid #f0f0f0;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--outline-color);
}

.form-control.success input {
  border: 2px solid var(--success-color);
}

.form-control.error input {
  border: 2px solid var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 20px;
}

.form button:active {
  transform: scale(0.98);
}
