@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

@import './FormValidator.css';

* {
  box-sizing: border-box;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --outline-color: #5ea9fe;
  --submitBtn-color: #3498db;
}

body {
  background-color: #f9fafb;
  font-family: 'Noto Sans KR';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

input,
button,
::placeholder {
  font-family: 'Noto Sans KR';
}
