@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.music-player__wrapper {
  font-family: 'Lato', 'sans-serif';
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
}

.music-container {
  display: flex;
  background-color: #fff;
  padding: 20px 30px;
  margin: 100px 0;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  position: relative;
  z-index: 10;
}

.music-container .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.music-container .action-btn {
  background-color: #fff;
  color: #dfdbdf;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  border: 0;
  cursor: pointer;
}

.music-container .action-btn:focus {
  outline: 0;
}

.music-container .action-btn.action-btn-big {
  font-size: 30px;
  color: #cdc2d0;
}
